<launch>

  <!-- <include file="$(find turtlebot_bringup)/launch/3dsensor.launch" /> -->

  <include file="$(find dlib_detector)/launch/traffic_sign_detector_camera.launch">
  </include>

  <include file="$(find opencv_detector)/launch/facedetector.launch">
	<arg name="image_topic" value="/camera/rgb/image_color" />
  </include>

  <include file="$(find localizer)/launch/localizer_node.launch" />

  <node pkg="localizer" type="mapper" name="sign_localizer" output="screen">
    <remap from="detections" to="/detector/traffic_signs" />
    <remap from="camera_info" to="/camera/rgb/camera_info" />
    <remap from="mapper" to="/signdetector/markers" />
  </node>

  <node pkg="localizer" type="mapper" name="facemapper" output="screen">
    <remap from="detections" to="/facedetector/faces" />
    <remap from="camera_info" to="/camera/rgb/camera_info" />
    <remap from="mapper" to="/facedetector/markers" />
  </node>

  <node pkg="pcl" type="transformMapper.py" name="transformMapperFaces">
    <param name="inTopic" type="str" value="/facedetector/markers"/>
    <param name="outTopic" type="str" value="/transformedMarkers/faces"/>
  </node>

  <node pkg="pcl" type="transformMapper.py" name="transformMapperSigns">
    <param name="inTopic" value="/signdetector/markers"/>
    <param name="outTopic" value="/transformedMarkers/signs"/>
  </node>

</launch>
